<div class="container">
    <div class="row row-section">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2>Customers</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="btn-group">
                <button class="btn btn-success" data-toggle="modal" data-target="#addCustomerModal">
                    New
                </button>
            </div>
        </div>
        <%- include('add-customer'); %>
    </div>
    <div class="row">
        <% model.customers.forEach(customer => { %>
            <% if(customer) { %>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" id="customer-<%= customer.id %>">
                <div class="card">
                    <div class="card-header clearfix">
                        <div class="row position-relative">
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 float-left">
                                <h5 class="card-title">
                                    Customer #<%= customer.id %>
                                </h5>
                            </div>
                            <div class="float-right position-absolute" style="right:0;">
                                <i class="fa fa-pencil-square text-dark edit" aria-hidden="true" title="Edit customer" style="font-size: 1.5rem"
                                onclick="editCustomer(this,'<%= customer.id %>')"></i>
                                <i class="fa fa-window-close text-danger delete" aria-hidden="true" title="Delete customer" style="font-size: 1.5rem"
                                onclick="deleteCustomer('<%= customer.id %>')"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="card-detail-<%= customer.id %>">
                        <p class="card-text">
                            <label for="business-name-<%= customer.id %>">
                                <i class="fa fa-building" aria-hidden="true" style="color: #2D414F"></i> <b>Business name</b>
                            </label>
                            <input type="text" class="form-control" value="<%= customer.business_name %>" 
                            id="business-name-<%= customer.id %>" readonly>
                        </p>
                        <p class="card-text">
                            <label for="company-address-<%= customer.id %>">
                                <i class="fa fa-map-marker" aria-hidden="true"></i> <b>Company address</b>
                            </label>
                            <input type="text" class="form-control" value="<%= customer.company_address %>" 
                            id="company-address-<%= customer.id %>" readonly>
                        </p>
                        <p class="card-text">
                            <label for="email-address-<%= customer.id %>">
                                <i class="fa fa-envelope" aria-hidden="true"></i> <b>Email address</b>
                            </label>
                            <input type="text" class="form-control" value="<%= customer.email_address %>" 
                            id="email-address-<%= customer.id %>" readonly>
                        </p>
                        <p class="card-text">
                            <label for="phone-number-<%= customer.id %>">
                                <i class="fa fa-phone" aria-hidden="true"></i> <b>Phone number</b>
                            </label>
                            <input type="text" class="form-control" value="<%= customer.phone_number %> " 
                            id="phone-number-<%= customer.id %>" readonly>
                        </p>
                    </div>
                    <button class="btn btn-dark">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i> Invoice
                    </button>
                </div>
            </div>
            <% } %>
        <% }) %>
    </div>
</div>
<script src="/js/edit-delete-customer.js"></script>
<script src="/js/add-customer.js"></script>
