<div class="container">
    <div class="row row-section">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2>Invoices</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="btn-group">
                <button class="btn btn-success" data-toggle="modal" data-target="#addInvoiceModal">
                    New
                </button>
            </div>
        </div>
        <%- include('add-invoice',model.customers);%>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="table-responsive">
                <table class="table table-dark">
                    <caption>List of invoices</caption>
                    <thead>
                        <tr>
                            <th>Number</th>
                            <th>Billed to</th>
                            <th>Date</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% model.invoices.forEach(invoice => { %>
                            <tr>
                                <td># <%= invoice.id %></td>
                                <td><%= invoice.customer.business_name %></td>
                                <td><%= invoice.date_of_issue %></td>
                                <td><%= invoice.total %></td>
                                <td>
                                    <button class="btn btn-info">Details</button>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="/js/invoices.js"></script>